* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #fff;
  background-color: #212121;
}

main {
  padding: 1rem;
  height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

#clock {
  font-size: 50px;
}
